   <footer class="site-footer">
        <div class="site-footer__inner">
            <div class="footer-data">
                <div class="footer-data__inner block_width">
                    <div class="footer-data__item footer-data__address">
                        <div class="footer-data__item-left">
                            <svg class="gr-svg-icon">
                                <use xlink:href="#icon_site_location"></use>
                            </svg>
                        </div>
                        <div class="footer-data__item-right">
                            <span class="address">г.Ташкент,100017,Юнусабадский р-н, Алайский рынок  2-tor</span>
                        </div>
                    </div>
                    <div class="footer-data__item footer-data__phone">
                        <div class="footer-data__item-left">
                            <svg class="gr-svg-icon">
                                <use xlink:href="#icon_site_phone"></use>
                            </svg>
                        </div>
                        <div class="footer-data__item-right">
                            <a href="tel:+998 (99) 612-30-63" class="phone">+998 (99) 612-30-63</a>
                            <span class="link phone-popup" data-remodal-target="phone-popup">Вам перезвонить?</span>
                        </div>
                    </div>
                    <div class="footer-data__item footer-data__mail">
                        <div class="footer-data__item-left">
                            <svg class="gr-svg-icon">
                                <use xlink:href="#icon_site_mail"></use>
                            </svg>
                        </div>

                        <div class="footer-data__item-right">
                            <span class="mail-title">Е-mail</span>
                            <a href="mailto:mmarket54@mail.ru" class="link mail">mmarket54@mail.ru</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-body block_width">
                <div class="footer-body__left">
                    <div class="footer-body__info">
                        <div class="site-name"></div>
                        <div class="site-anonce"> © 2022 - 2024 MARKER-MARKET</div>
                    </div>
                    <div class="footer-body__data">Полное или частичное копирование материалов разрешено только с
                        согласия владельца сайта
                    </div>
                </div>
                <div class="footer-body__right">
                    <ul class="footer-menu footer_menu__js-popup">
                        <li><a href="/vozvrat-denezhnykh-sredstv">Возврат денежных средств</a></li>
                        <li><a href="/napishite-nam">Напишите нам</a></li>
                    </ul>
                </div>
            </div>
            <div class="about_payment block_width">
                <div class="about_payment__title">Принимаем к оплате:</div>
                <div class="about_payment__body">
                    <a href="https://click.uz/ru" class="about_payment__item">
                        <img src="/thumb/2/3c9J6jP0EVt9PxMYRkgpkg/100r75/d/564eecd6_ph9e1v0.jpg"
                             data-src="/thumb/2/3c9J6jP0EVt9PxMYRkgpkg/100r75/d/564eecd6_ph9e1v0.jpg" width="75"
                             height="50" class="" alt="CLICK" title="CLICK">
                    </a>
                    <a href="https://humocard.uz/ru/" class="about_payment__item">
                        <img src="/thumb/2/KQHpppC6yZ_2xPzc5h3ibA/100r75/d/humo-01.jpg"
                             data-src="/thumb/2/KQHpppC6yZ_2xPzc5h3ibA/100r75/d/humo-01.jpg" width="75" height="50"
                             class="" alt="Humo" title="Humo">
                    </a>
                    <a href="https://www.uzcard.uz/ru" class="about_payment__item">
                        <img src="/thumb/2/gj3w0cMmzeHlhurPeWdwqA/100r75/d/fwpk2a15549570282085_b.jpg"
                             data-src="/thumb/2/gj3w0cMmzeHlhurPeWdwqA/100r75/d/fwpk2a15549570282085_b.jpg" width="75"
                             height="50" class="" alt="Uzcard" title="Uzcard">
                    </a>
                    <a href="https://www.visa.com/" class="about_payment__item">
                        <img src="/thumb/2/sjt_WmovpdRZYzfghWE2ow/100r75/d/visa3.png"
                             data-src="/thumb/2/sjt_WmovpdRZYzfghWE2ow/100r75/d/visa3.png" width="75" height="50"
                             class="" alt="Visa" title="Visa">
                    </a>
                    <a href="https://www.mastercard.ru" class="about_payment__item">
                        <img src="/thumb/2/pNgCk3Fn5UpR561KyhbCpw/100r75/d/m-card-3.png"
                             data-src="/thumb/2/pNgCk3Fn5UpR561KyhbCpw/100r75/d/m-card-3.png" width="75" height="50"
                             class="" alt="Mastercard" title="Mastercard">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-info">
            <div class="footer-info__inner block_width">
                <div class="footer-info__social">
                    <div class="footer-info__social-title">Мы в соц. сетях:</div>
                    <div class="footer-info__social-body">
                        <a href="https://www.facebook.com/kanctovary.tashkent">
                            <img src="/thumb/2/04tXjq7M7D9X8rH-2M88oQ/34r34/d/fgs16_facebook_11.svg"
                                 data-src="/thumb/2/04tXjq7M7D9X8rH-2M88oQ/34r34/d/fgs16_facebook_11.svg" width="34"
                                 height="34" class="" alt="Facebook" title="Facebook">
                        </a>
                        <a href="https://www.instagram.com/kanctovary.tashkent/">
                            <img src="/thumb/2/HQ1YmZcrU1l_GXVKbZhAtA/34r34/d/fgs16_instagram_0.svg"
                                 data-src="/thumb/2/HQ1YmZcrU1l_GXVKbZhAtA/34r34/d/fgs16_instagram_0.svg" width="34"
                                 height="34" class="" alt="Инстаграм" title="Инстаграм">
                        </a>
                        <a href="https://t.me/mmarket54">
                            <img src="/thumb/2/Zy_UQRuD7qI19g90MtzOxQ/34r34/d/png-transparent-telegram-logo-scalable-graphics-icon-logo-blue-angle-triangle.png"
                                 data-src="/thumb/2/Zy_UQRuD7qI19g90MtzOxQ/34r34/d/png-transparent-telegram-logo-scalable-graphics-icon-logo-blue-angle-triangle.png"
                                 width="34" height="34" class="" alt="Telegram" title="Telegram">
                        </a>
                    </div>
                </div>
                <div class="footer-info__form" data-func="bottomForm">
                    <div class="footer-info__form-left">
                        <span class="footer-info__form-title">Остались вопросы?</span>
                        <span class="footer-info__form-subtitle">оставьте номер и мы свяжемся с вами в ближайшее время</span>
                    </div>
                    <div class="footer-info__form-right"
                         data-form-get="/my/s3/xapi/public/?method=form/postform&amp;param[form_id]=21634505&amp;param[tpl]=global:shop2.form.minimal.tpl&amp;param[hide_title]=1&amp;param[placeholdered_fields]=1&amp;param[policy_checkbox]=0">


                        <div class="tpl-anketa"
                             data-api-url="/my/s3/xapi/public/?method=form/postform&amp;param[form_id]=21634505"
                             data-api-type="form">
                            <div class="tpl-anketa__right">
                                <form method="post" action="" data-s3-anketa-id="21634505">
                                    <input type="hidden" name="param[placeholdered_fields]" value="1">
                                    <input type="hidden" name="form_id" value="21634505">
                                    <input type="hidden" name="param[hide_title]" value="1">
                                    <input type="hidden" name="param[product_name]" value="">
                                    <input type="hidden" name="param[product_link]" value="https://">
                                    <input type="hidden" name="param[policy_checkbox]" value="">
                                    <input type="hidden" name="param[has_span_button]" value="">
                                    <input type="hidden" name="tpl" value="global:shop2.form.minimal.tpl">
                                    <div class="tpl-field type-phone field-required last-inline first-inline">

                                        <div class="field-value">
                                            <input type="text" required="" size="30" maxlength="100" value=""
                                                   name="d[0]" placeholder="номер телефона *">

                                        </div>
                                    </div>


                                    <div class="tpl-field tpl-field-button">
                                        <button type="submit" class="tpl-form-button">Отправить</button>
                                    </div>

                                    <textarea name="g-recaptcha-response" style="display: none !important;"></textarea>
                                </form>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer-bottom ">
            <div class="footer-bottom__inner block_width">
                <div class="footer-bottom__counter"></div>
                <div class="footer-bottom__copy"><span style="font-size:14px;" class="copyright"><a target="_blank"
                                                                                                    href="https://megagroup.uz/"
                                                                                                    title="Создание сайтов megagroup.uz"
                                                                                                    class="copyright"
                                                                                                    style="display: inline-block; width: 139px; text-align: left; text-decoration: none; font-size: 15px; font-weight: 500; color: #FFF;">
            Powered by
    <img style="display: block; width: 100%;" src="https://cp.megagroup.ru/g/mlogo/uz/megagroup_uz.darkbg.svg"
         title="Cоздание сайтов - megagroup.uz" alt="Создание сайтов в Megagroup.uz">
</a></span></div>
            </div>
        </div>
        <div class="to-top">
            <svg class="gr-svg-icon">
                <use xlink:href="#icon_site_top"></use>
            </svg>
        </div>
    </footer>